<div id="ModalBackground">
    <div id="ModalMultiFuntionalBox">
        <div style="position:relative;top:0;width:100%;height:20px; background-color:#000;margin-bottom:15px">
            <span id="closePendingOrderList" style="color:#fff">x</span>
        </div>
        <div id="modalTitle" >

        </div>

        <div id="ModalBoxTablePlaceHolder">

        </div>

        <div id="DeleteModalBoxButtons">

        </div>
    </div>
</div>



















@*<b>Czy napewno usunąć pozycję zamówienia?</b>*@
@* 
       <table>
        <tr>
            <th>Towar</th>
            <th>J.M.</th>
            <th>Ilość</th>
        </tr>
        <tr>
            <td id="AssetToDelete"></td>
            <td id="UMAssetToDelete"></td>
            <td id="QtyToDelete"></td>
        </tr>
    </table>*@
@*<input id="DeleteNo" type="button" value="Anuluj" class="btn btn-group-sm btn-success" style="margin-right:15px" />
    <input id="DeleteYes" type="button" value="Usuń" class="btn btn-group-sm btn-danger" style="margin-left:15px" />*@